<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>ACA Python Bootcamp</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}?v=0.1">

</head>

<body>
    <header>
        <div class="branding">
            <img src="{{ url_for('static', filename='img/aca.png') }}" alt="">
            <div class="title">PYTHON BOOTCAMP</div>
        </div>


    </header>
    <div class="flashes">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div style="font-weight:bold;">Error</div>
                <ul>
                {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
  <div class="content">{% block content %}{% endblock %}</div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>